<div style="position: relative; padding-top: 56.25%;">
  <iframe
    src=""
    style="border: none; position: absolute; top: 0; left: 0; height: 100%; width: 100%;"
    allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;"
    allowfullscreen="true"
    id="liveondemand-player"
  ></iframe>
</div>

<script src="https://embed.cloudflarestream.com/embed/sdk.latest.js"></script>

<script>
  window.player = null;
  // The liveOnDemandControls partial kicks this off and defines the object
  const playerCheckStatus = () => {
    if (window?.LODstatus && window.LODstatus.state === 'connected' && window.LODstatus.current) {
      const suffix = "{{- if eq (.Get 0) "dvr" -}}?dvrEnabled=true{{- end -}}";
      // Use the current vide/recording ID
      const url = 'https://customer-igynxd2rwhmuoxw8.cloudflarestream.com/' + window.LODstatus.current + '/iframe' + suffix;
      document.getElementById('liveondemand-player').src = url;
      window.player = Stream(document.getElementById('liveondemand-player'));
    } else {
      setTimeout(playerCheckStatus, 1000);
    }
  };
  playerCheckStatus();

</script>
